<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Buchverwaltung{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">
                        Buchverwaltung
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% block header_navigation_links %}
                            <li>
                                <a href="{{ path('book_index') }}">
                                    <i class="fa fa-book"></i> Books
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('location_index') }}">
                                    <i class="fa fa-map-marker"></i> Locations
                                </a>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-9">
                {% block main %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}
                    <div class="section about">
                        <div class="well well-lg">
                            <p>
                                Die Buchverwaltung
                            </p>
                            <p>
                                Die App wurde für den TechTalk gebaut.
                            </p>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6"></div>
                <div id="footer-resources" class="col-md-6"></div>
            </div>
        </div>
    </footer>
{% endblock %}

</body>
</html>
